.not__found {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.not__found__img {
  width: 50%;
  border-radius: 10px;
  -webkit-box-shadow: var(--card-shadow);
  -moz-box-shadow: var(--card-shadow);
  box-shadow: var(--card-shadow);
}

@media (max-width: 425px) {
  .not__found__img {
    width: 90%;
  }
}
